.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}
.product-grid-container {
  /* display: flex; */
  padding-left: 100px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* height: 60vh;  */
  height: 100%; 
}
/* div:hover {
  box-shadow: 5px 5px 5px #888888;
} */
p:hover {
  text-decoration: underline;
}
h3:hover {
  text-decoration: underline;
}

.product-grid-container:hover{
  
  box-shadow: 5px 5px 5px #888888;
}

.div-css{
  border: 1px solid black;
}